body {
    background-image: url(./img/mountains-universe-1.png);
    background-size: cover;
    background-position: top;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
a{
    color: white;
    margin-left: 50px;
    text-decoration: none;
}

nav {
    margin-top: 50px;
    margin-left: 50px;
}

#app {
    position: absolute;
    display: block;
    top: 35%;
    left: 35%;
    text-align: absolute;
    width: 30vw;
}

button {
    background: none;
    border-color: white;
    color: white;
    padding: 10px;
    text-align: center;
    margin-left: 20%;
}