body {
  text-align: center;
  background: #bfd7e4;
  color: white;
  font-family: 'Poppins', sans-serif;
}

body::before {
  content: '';
  width: 100%;
  height: 368px;

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: #293241;
}

form {
  color: black;
}

h1,
h2,
h3,
button {
  font-family: 'Staatliches', cursive;
}

button {
  color: white;
  background-color: #f67669;
  width: 622px;
  height: 51px;
  border: none;
  margin-top: 20px;
  border-radius: 8px;
}

h1 {
  font-size: 36px;
}

header {
  margin-top: 107px;
}

.red {
  background-color: #f67669;
  height: 133px;
  width: 750px;
  padding-top: 50px;
  margin-top: 32px;
  margin-left: 345px;
  border-radius: 8px 8px 0 0;
}

.white {
  background-color: #ffffff;
  width: 750px;
  margin-left: 345px;
  border-radius: 0 0 8px 8px;
  margin-bottom: 328px;
  padding-bottom: 28px;
}

input,
textarea,
select {
  background-color: #e6e6f0;
}

form {
  display: flex;
  flex-direction: column;
  width: 622px;
  margin-left: 64px;
}

.one-top {
  display: flex;
  gap: 22px;
  margin-top: 31px;
  margin-bottom: 18px;
}

.one-top input,
select {
  width: 300px;
  height: 45px;
  border-radius: 8px;
}

span {
  color: #c1bccc;
  font-size: 12px;
}

#email {
  height: 55px;
  width: 622px;
  border-radius: 8px;
}

select,
#select {
  left: 0;
  margin-right: 50%;
}

textarea {
  width: 608px;
  border-radius: 8px;
}

.checkbox {
  display: flex;
}

h3 {
  font-size: 24px;
}

hr {
  color: #c1bccc;
}

.three {
  display: flex;
  justify-content: space-between;
}

.time {
  display: flex;
}

.three input {
  width: 300px;
  height: 40px
}

.time input {
  width: 140px;
  height: 40px;
}
